@import './tool.less';

.Follow {
	position: relative;
	overflow: auto;
	-webkit-overflow-scrolling: true;

	.no-info {
		margin-top: 1rem;
		text-align: center;

		img {
			width: 6rem;
		}

		p {
			display: inline-block;
			width: 70%;
		}
	}
}

