@import './tool.less';
.UserInfo {


	// ant-mobile
	.my-radio {
		width: 1em;
		height: 1em;
		margin-left: 1em;
	}

	.btn-container .btn {
		margin: 0.16rem 0;
	}

	.header {
		width: 1.2rem;
		height: 1.2rem;
		border-radius: 50%;
	}

	.submit {
		.font-dpr(30px);
	}
}