@import './tool.less';

.VideoItem {
	width: 100%;
	height: 5rem;
	background: url('../images/bg.jpg') no-repeat;
	background-size: cover;
	background-position: center;
	.flex();
	.flex-v();
	.flex-vertical-center();
	.flex-horizontal-center();

	h1 {
		margin-bottom: 0.3rem;
		color: #fff;
		.font-dpr(18px);
	}
	p {
		color: #fff;
		.font-dpr(14px);
	}

}
